_data/xsd/vehicles/bike_types_criteria.xsd

<xs:schema
  xmlns:xs="http://www.w3.org/2001/XMLSchema"
  xmlns="http://example.com/vehicles"
  targetNamespace="http://example.com/vehicles">

    <xs:include schemaLocation="bike_tires_criteria.xsd"/>   

    <xs:complexType name="bikeType">
        <xs:sequence>
            <xs:element name="bikeTire" type="bikeTire" minOccurs="1" maxOccurs="4" />
        </xs:sequence>
        <xs:attribute name="uuid" type="xs:string"></xs:attribute>
        <xs:attribute name="make" type="xs:string"></xs:attribute>
        <xs:attribute name="model" type="xs:string"></xs:attribute>
    </xs:complexType>

</xs:schema>