_out/oc2ls-v1.1-lang_resolved.xsd

<?xml version='1.0' encoding='utf-8'?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:simpleType name="Binary">
		<xs:restriction base="xs:byte" />
	</xs:simpleType>
	<xs:simpleType name="Boolean">
		<xs:restriction base="xs:boolean" />
	</xs:simpleType>
	<xs:simpleType name="Integer">
		<xs:restriction base="xs:integer" />
	</xs:simpleType>
	<xs:simpleType name="Number">
		<xs:restriction base="xs:decimal" />
	</xs:simpleType>
	<xs:simpleType name="String">
		<xs:restriction base="xs:string" />
	</xs:simpleType>
	<xs:simpleType name="Enumerated">
		<xs:restriction base="xs:string">
			<xs:enumeration value="Enumerated-Value1" />
			<xs:enumeration value="Enumerated-Value2" />
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="Choice">
		<xs:choice>
			<xs:element name="Choice-Element" />
		</xs:choice>
	</xs:complexType>
	<xs:simpleType name="f16">
		<xs:restriction base="xs:decimal">
			<xs:fractionDigits value="4" />
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="f32">
		<xs:restriction base="xs:decimal">
			<xs:fractionDigits value="6" />
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="date">
		<xs:restriction base="xs:date" />
	</xs:simpleType>
	<xs:simpleType name="time">
		<xs:restriction base="xs:time" />
	</xs:simpleType>
	<xs:simpleType name="date-time">
		<xs:restriction base="xs:dateTime" />
	</xs:simpleType>
	<xs:simpleType name="email">
		<xs:restriction base="xs:string">
			<xs:pattern value="[\w\-\.]+@([\w\-]+\.)+[\w\-]{2,4}" />
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="idn-email">
		<xs:restriction base="xs:string">
			<xs:pattern value="[\w\-\.]+@([\w\-]+\.)+[\w\-]{2,4}" />
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="hostname">
		<xs:restriction base="xs:string">
			<xs:pattern value="(([a-zA-Z0-9]|[a-zA-Z0-9][a-zA-Z0-9\-]*[a-zA-Z0-9])\.)*([A-Za-z0-9]|[A-Za-z0-9][A-Za-z0-9\-]*[A-Za-z0-9])" />
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="idn-hostname">
		<xs:restriction base="xs:string">
			<xs:pattern value="(([a-zA-Z0-9]|[a-zA-Z0-9][a-zA-Z0-9\-]*[a-zA-Z0-9])\.)*([A-Za-z0-9]|[A-Za-z0-9][A-Za-z0-9\-]*[A-Za-z0-9])" />
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ipv4">
		<xs:restriction base="xs:string">
			<xs:pattern value="((25[0-5])|(2[0-4][0-9])|(1[0-9][0-9])|([1-9][0-9])|([0-9]))[.]((25[0-5])|(2[0-4][0-9])|(1[0-9][0-9])|([1-9][0-9])|([0-9]))[.]((25[0-5])|(2[0-4][0-9])|(1[0-9][0-9])|([1-9][0-9])|([0-9]))[.]((25[0-5])|(2[0-4][0-9])|(1[0-9][0-9])|([1-9][0-9])|([0-9]))" />
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ipv6">
		<xs:restriction base="xs:string">
			<xs:pattern value="((([0-9A-Fa-f]{1,4}:){1,6}:)|(([0-9A-Fa-f]{1,4}:){7}))([0-9A-Fa-f]{1,4})" />
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="uri">
		<xs:restriction base="xs:string">
			<xs:pattern value="(https:\/\/www\.|http:\/\/www\.|https:\/\/|http:\/\/)?[a-zA-Z0-9]{2,}(\.[a-zA-Z0-9]{2,})(\.[a-zA-Z0-9]{2,})" />
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="uri-reference">
		<xs:restriction base="xs:string">
			<xs:pattern value="(https:\/\/www\.|http:\/\/www\.|https:\/\/|http:\/\/)?[a-zA-Z0-9]{2,}(\.[a-zA-Z0-9]{2,})(\.[a-zA-Z0-9]{2,})" />
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="uri-template">
		<xs:restriction base="xs:string">
			<xs:pattern value="(https:\/\/www\.|http:\/\/www\.|https:\/\/|http:\/\/)?[a-zA-Z0-9]{2,}(\.[a-zA-Z0-9]{2,})(\.[a-zA-Z0-9]{2,})" />
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="iri">
		<xs:restriction base="xs:string">
			<xs:pattern value="&lt;(.*)&gt;" />
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="iri-reference">
		<xs:restriction base="xs:string">
			<xs:pattern value="&lt;(.*)&gt;" />
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="regex">
		<xs:restriction base="xs:string">
			<xs:pattern value="\*." />
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ArrayOf">
		<xs:restriction base="String" />
	</xs:simpleType>
	<xs:simpleType name="MapOf">
		<xs:restriction base="String" />
	</xs:simpleType>
	<xs:complexType name="Array">
		<xs:sequence>
			<xs:element name="Array-Elements" maxOccurs="unbounded">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="Array-Element" type="String" />
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="Map">
		<xs:sequence>
			<xs:element name="Map-Elements" maxOccurs="unbounded">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="Map-Element" type="String" />
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="Record">
		<xs:sequence>
			<xs:element name="Record" type="String" />
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="OpenC2-Command">
		<xs:sequence>
			<xs:element name="action" type="Action" />
			<xs:element name="target" type="Target" />
			<xs:element name="args" type="Args" minOccurs="0" />
			<xs:element name="actuator" type="Actuator" minOccurs="0" />
			<xs:element name="command_id" type="Command-ID" minOccurs="0" />
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="OpenC2-Response">
		<xs:sequence>
			<xs:element name="status" type="Status-Code" />
			<xs:element name="status_text" type="String" minOccurs="0" />
			<xs:element name="results" type="Results" minOccurs="0" />
		</xs:sequence>
	</xs:complexType>
	<xs:simpleType name="Action">
		<xs:restriction base="xs:string">
			<xs:enumeration value="scan" />
			<xs:enumeration value="locate" />
			<xs:enumeration value="query" />
			<xs:enumeration value="deny" />
			<xs:enumeration value="contain" />
			<xs:enumeration value="allow" />
			<xs:enumeration value="start" />
			<xs:enumeration value="stop" />
			<xs:enumeration value="restart" />
			<xs:enumeration value="cancel" />
			<xs:enumeration value="set" />
			<xs:enumeration value="update" />
			<xs:enumeration value="redirect" />
			<xs:enumeration value="create" />
			<xs:enumeration value="delete" />
			<xs:enumeration value="detonate" />
			<xs:enumeration value="restore" />
			<xs:enumeration value="copy" />
			<xs:enumeration value="investigate" />
			<xs:enumeration value="remediate" />
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="Target">
		<xs:choice>
			<xs:element name="artifact" type="Artifact" />
			<xs:element name="command" type="Command-ID" />
			<xs:element name="device" type="Device" />
			<xs:element name="domain_name" type="Domain-Name" />
			<xs:element name="email_addr" type="Email-Addr" />
			<xs:element name="features" type="Features" />
			<xs:element name="file" type="File" />
			<xs:element name="idn_domain_name" type="IDN-Domain-Name" />
			<xs:element name="idn_email_addr" type="IDN-Email-Addr" />
			<xs:element name="ipv4_net" type="IPv4-Net" />
			<xs:element name="ipv6_net" type="IPv6-Net" />
			<xs:element name="ipv4_connection" type="IPv4-Connection" />
			<xs:element name="ipv6_connection" type="IPv6-Connection" />
			<xs:element name="iri" type="IRI" />
			<xs:element name="mac_addr" type="MAC-Addr" />
			<xs:element name="process" type="Process" />
			<xs:element name="properties" type="Properties" />
			<xs:element name="uri" type="URI" />
		</xs:choice>
	</xs:complexType>
	<xs:complexType name="Actuator">
		<xs:choice />
	</xs:complexType>
	<xs:complexType name="Args">
		<xs:sequence>
			<xs:element name="Args-Elements" minOccurs="1" maxOccurs="unbounded">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="start_time" type="Date-Time" minOccurs="0" />
						<xs:element name="stop_time" type="Date-Time" minOccurs="0" />
						<xs:element name="duration" type="Duration" minOccurs="0" />
						<xs:element name="response_requested" type="Response-Type" minOccurs="0" />
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="Results">
		<xs:annotation>
			<xs:documentation>Response Results</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Results-Elements" minOccurs="1" maxOccurs="unbounded">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="versions" type="Versions" minOccurs="0" />
						<xs:element name="profiles" type="Profiles" minOccurs="0" />
						<xs:element name="pairs" type="Action-Targets" minOccurs="0" />
						<xs:element name="rate_limit" minOccurs="0">
							<xs:simpleType>
								<xs:restriction base="Number">
									<xs:minInclusive value="0.0" />
								</xs:restriction>
							</xs:simpleType>
						</xs:element>
						<xs:element name="args" type="Enumerated" minOccurs="0" maxOccurs="unbounded" />
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="Action-Targets">
		<xs:annotation>
			<xs:documentation>Map of all actions to all targets</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Action-Targets-Elements" minOccurs="1" maxOccurs="unbounded">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="Action" type="Action" />
						<xs:element name="Targets" type="Targets" />
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="Targets">
		<xs:annotation>
			<xs:documentation>List of all Target types</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Targets-Elements" minOccurs="1" maxOccurs="0">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="&gt;Target" type="&gt;Target">
							<xs:unique name="&gt;Target-Unique">
								<xs:selector xpath="&gt;Target" />
								<xs:field xpath="." />
							</xs:unique>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:simpleType name="Status-Code">
		<xs:restriction base="xs:string">
			<xs:enumeration value="Processing" />
			<xs:enumeration value="OK" />
			<xs:enumeration value="Created" />
			<xs:enumeration value="Bad Request" />
			<xs:enumeration value="Unauthorized" />
			<xs:enumeration value="Forbidden" />
			<xs:enumeration value="Not Found" />
			<xs:enumeration value="Internal Error" />
			<xs:enumeration value="Not Implemented" />
			<xs:enumeration value="Service Unavailable" />
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="Artifact">
		<xs:sequence>
			<xs:element name="mime_type" type="String" minOccurs="0" />
			<xs:element name="payload" type="Payload" minOccurs="0" />
			<xs:element name="hashes" type="Hashes" minOccurs="0" />
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="Device">
		<xs:sequence>
			<xs:element name="Device-Elements" minOccurs="1" maxOccurs="unbounded">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="hostname" type="Hostname" minOccurs="0" />
						<xs:element name="idn_hostname" type="IDN-Hostname" minOccurs="0" />
						<xs:element name="device_id" type="String" minOccurs="0" />
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:simpleType name="Domain-Name">
		<xs:annotation>
			<xs:documentation>[RFC1034], Section 3.5</xs:documentation>
		</xs:annotation>
		<xs:restriction base="hostname">
			<xs:annotation>
				<xs:documentation>JSON Schema Section 7.3.3</xs:documentation>
			</xs:annotation>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Email-Addr">
		<xs:annotation>
			<xs:documentation>Email address - [RFC5322], Section 3.4.1</xs:documentation>
		</xs:annotation>
		<xs:restriction base="email">
			<xs:annotation>
				<xs:documentation>JSON Schema Section 7.3.2</xs:documentation>
			</xs:annotation>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="Features">
		<xs:annotation>
			<xs:documentation>An array of zero to ten names used to query an Actuator for its supported capabilities.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Features-Elements" maxOccurs="10">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="Feature" type="Feature">
							<xs:unique name="Feature-Unique">
								<xs:selector xpath="Feature" />
								<xs:field xpath="." />
							</xs:unique>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="File">
		<xs:sequence>
			<xs:element name="File-Elements" minOccurs="1" maxOccurs="unbounded">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="name" type="String" minOccurs="0" />
						<xs:element name="path" type="String" minOccurs="0" />
						<xs:element name="hashes" type="Hashes" minOccurs="0" />
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:simpleType name="IDN-Domain-Name">
		<xs:annotation>
			<xs:documentation>Internationalized Domain Name - [RFC5890], Section 2.3.2.3</xs:documentation>
		</xs:annotation>
		<xs:restriction base="idn-hostname">
			<xs:annotation>
				<xs:documentation>JSON Schema Section 7.3.3</xs:documentation>
			</xs:annotation>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="IDN-Email-Addr">
		<xs:annotation>
			<xs:documentation>Internationalized email address - [RFC6531]</xs:documentation>
		</xs:annotation>
		<xs:restriction base="idn-email">
			<xs:annotation>
				<xs:documentation>JSON Schema Section 7.3.2</xs:documentation>
			</xs:annotation>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="IPv4-Net">
		<xs:annotation>
			<xs:documentation>IPv4 address and prefix length</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="IPv4-Net-Elements" maxOccurs="unbounded">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="ipv4_addr" type="IPv4-Addr" />
						<xs:element name="prefix_length" type="Integer" minOccurs="0" />
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="IPv4-Connection">
		<xs:sequence>
			<xs:element name="src_addr" type="IPv4-Net" minOccurs="0" />
			<xs:element name="src_port" type="Port" minOccurs="0" />
			<xs:element name="dst_addr" type="IPv4-Net" minOccurs="0" />
			<xs:element name="dst_port" type="Port" minOccurs="0" />
			<xs:element name="protocol" type="L4-Protocol" minOccurs="0" />
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="IPv6-Net">
		<xs:annotation>
			<xs:documentation>IPv6 address and prefix length</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="IPv6-Net-Elements" maxOccurs="unbounded">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="ipv6_addr" type="IPv6-Addr" />
						<xs:element name="prefix_length" type="Integer" minOccurs="0" />
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="IPv6-Connection">
		<xs:sequence>
			<xs:element name="src_addr" type="IPv6-Net" minOccurs="0" />
			<xs:element name="src_port" type="Port" minOccurs="0" />
			<xs:element name="dst_addr" type="IPv6-Net" minOccurs="0" />
			<xs:element name="dst_port" type="Port" minOccurs="0" />
			<xs:element name="protocol" type="L4-Protocol" minOccurs="0" />
		</xs:sequence>
	</xs:complexType>
	<xs:simpleType name="IRI">
		<xs:annotation>
			<xs:documentation>Internationalized Resource Identifier, [RFC3987]</xs:documentation>
		</xs:annotation>
		<xs:restriction base="iri">
			<xs:annotation>
				<xs:documentation>JSON Schema Section 7.3.5</xs:documentation>
			</xs:annotation>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="MAC-Addr">
		<xs:annotation>
			<xs:documentation>Media Access Control / Extended Unique Identifier address - EUI-48 or EUI-64 as defined in [EUI]</xs:documentation>
		</xs:annotation>
	</xs:simpleType>
	<xs:complexType name="Process">
		<xs:sequence>
			<xs:element name="Process-Elements" minOccurs="1" maxOccurs="unbounded">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="pid" minOccurs="0">
							<xs:simpleType>
								<xs:restriction base="Integer">
									<xs:minInclusive value="0" />
								</xs:restriction>
							</xs:simpleType>
						</xs:element>
						<xs:element name="name" type="String" minOccurs="0" />
						<xs:element name="cwd" type="String" minOccurs="0" />
						<xs:element name="executable" type="File" minOccurs="0" />
						<xs:element name="parent" type="Process" minOccurs="0" />
						<xs:element name="command_line" type="String" minOccurs="0" />
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="Properties">
		<xs:annotation>
			<xs:documentation>A list of names that uniquely identify properties of an Actuator.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Properties-Elements" minOccurs="1" maxOccurs="unbounded">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="String" type="String">
							<xs:unique name="String-Unique">
								<xs:selector xpath="String" />
								<xs:field xpath="." />
							</xs:unique>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:simpleType name="URI">
		<xs:annotation>
			<xs:documentation>Uniform Resource Identifier, [RFC3986]</xs:documentation>
		</xs:annotation>
		<xs:restriction base="uri">
			<xs:annotation>
				<xs:documentation>JSON Schema Section 7.3.5</xs:documentation>
			</xs:annotation>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Date-Time">
		<xs:annotation>
			<xs:documentation>Date and Time</xs:documentation>
		</xs:annotation>
		<xs:restriction base="Integer">
			<xs:minInclusive value="0" />
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Duration">
		<xs:annotation>
			<xs:documentation>A length of time</xs:documentation>
		</xs:annotation>
		<xs:restriction base="Integer">
			<xs:minInclusive value="0" />
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Feature">
		<xs:annotation>
			<xs:documentation>Specifies the results to be returned from a query features Command</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:enumeration value="versions" />
			<xs:enumeration value="profiles" />
			<xs:enumeration value="pairs" />
			<xs:enumeration value="rate_limit" />
			<xs:enumeration value="args" />
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="Hashes">
		<xs:annotation>
			<xs:documentation>Cryptographic hash values</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Hashes-Elements" minOccurs="1" maxOccurs="unbounded">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="md5" type="Binary" minOccurs="0" />
						<xs:element name="sha1" type="Binary" minOccurs="0" />
						<xs:element name="sha256" type="Binary" minOccurs="0" />
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:simpleType name="Hostname">
		<xs:annotation>
			<xs:documentation>Internet host name as specified in [RFC1123]</xs:documentation>
		</xs:annotation>
		<xs:restriction base="hostname">
			<xs:annotation>
				<xs:documentation>JSON Schema Section 7.3.3</xs:documentation>
			</xs:annotation>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="IDN-Hostname">
		<xs:annotation>
			<xs:documentation>Internationalized Internet host name as specified in [RFC5890], Section 2.3.2.3</xs:documentation>
		</xs:annotation>
		<xs:restriction base="idn-hostname">
			<xs:annotation>
				<xs:documentation>JSON Schema Section 7.3.3</xs:documentation>
			</xs:annotation>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="IPv4-Addr">
		<xs:annotation>
			<xs:documentation>32 bit IPv4 address as defined in [RFC0791]</xs:documentation>
		</xs:annotation>
	</xs:simpleType>
	<xs:simpleType name="IPv6-Addr">
		<xs:annotation>
			<xs:documentation>128 bit IPv6 address as defined in [RFC8200]</xs:documentation>
		</xs:annotation>
	</xs:simpleType>
	<xs:simpleType name="L4-Protocol">
		<xs:annotation>
			<xs:documentation>Value of the protocol (IPv4) or next header (IPv6) field in an IP packet. Any IANA value, [RFC5237]</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:enumeration value="icmp" />
			<xs:enumeration value="tcp" />
			<xs:enumeration value="udp" />
			<xs:enumeration value="sctp" />
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="Payload">
		<xs:choice>
			<xs:element name="bin" type="Binary" />
			<xs:element name="url" type="URI" />
		</xs:choice>
	</xs:complexType>
	<xs:simpleType name="Port">
		<xs:annotation>
			<xs:documentation>Transport Protocol Port Number, [RFC6335]</xs:documentation>
		</xs:annotation>
		<xs:restriction base="Integer">
			<xs:minInclusive value="0" />
			<xs:maxInclusive value="65535" />
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Response-Type">
		<xs:restriction base="xs:string">
			<xs:enumeration value="none" />
			<xs:enumeration value="ack" />
			<xs:enumeration value="status" />
			<xs:enumeration value="complete" />
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="Versions">
		<xs:annotation>
			<xs:documentation>List of OpenC2 language versions</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Versions-Elements" minOccurs="0" maxOccurs="10">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="Version" type="Version">
							<xs:unique name="Version-Unique">
								<xs:selector xpath="Version" />
								<xs:field xpath="." />
							</xs:unique>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="Profiles">
		<xs:annotation>
			<xs:documentation>List of OpenC2 profiles</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Profiles-Elements" minOccurs="0" maxOccurs="0">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="Namespace" type="Namespace">
							<xs:unique name="Namespace-Unique">
								<xs:selector xpath="Namespace" />
								<xs:field xpath="." />
							</xs:unique>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:simpleType name="Version">
		<xs:annotation>
			<xs:documentation>Major.Minor version number</xs:documentation>
		</xs:annotation>
		<xs:restriction base="String" />
	</xs:simpleType>
	<xs:simpleType name="Namespace">
		<xs:annotation>
			<xs:documentation>Unique name of an Actuator Profile</xs:documentation>
		</xs:annotation>
		<xs:restriction base="uri">
			<xs:annotation>
				<xs:documentation>JSON Schema Section 7.3.5</xs:documentation>
			</xs:annotation>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Command-ID">
		<xs:annotation>
			<xs:documentation>Command Identifier</xs:documentation>
		</xs:annotation>
		<xs:restriction base="String">
			<xs:pattern value="^\S{0,36}$" />
		</xs:restriction>
	</xs:simpleType>
	<xs:element name="OpenC2-Command" type="OpenC2-Command" />
	<xs:element name="OpenC2-Response" type="OpenC2-Response" />
</xs:schema>