_out/test_data.xsd

<?xml version='1.0' encoding='utf-8'?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:jadn="jadn_base_types">
	<xs:import schemaLocation="../_data/xsd/jadn_base_types.xsd" namespace="jadn_base_types" />
	<xs:complexType name="ArrayOf-Name">
		<xs:sequence>
			<xs:element name="ArrayOf-Name-Elements" minOccurs="0" maxOccurs="unbounded">
				<xs:complexType>
					<xs:sequence>
						<xs:element id="Record-Name" name="Record-Name" />
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="Record-Name">
		<xs:sequence>
			<xs:element id="record-name_1" name="field_value_1" type="jadn:String" />
			<xs:element id="record-name_2" name="field_value_2" type="jadn:String" />
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="Array-Name">
		<xs:sequence>
			<xs:element name="Array-Name-Elements" minOccurs="0" maxOccurs="unbounded">
				<xs:complexType>
					<xs:sequence>
						<xs:element id="array-name_1" name="field_value_1" type="jadn:String" />
						<xs:element id="array-name_2" name="field_value_2" type="jadn:String" />
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
</xs:schema>